#slider-container {
	position: absolute;
	top:500px;
	left:500px;
}

.left-section, .center-section, .right-section {
	float: left;
}

#p_curve {
		background:  url('../img/road.png') no-repeat;
		height: 352px;
		width: 639px;
	}
#p_curve .wagon{
	background-image : url('../img/vagn.png');
	background-repeat:no-repeat;
	background-color: transparent;
	background-position: center bottom;
	border: none;
	box-shadow: none;
	width: 98px;
	height: 102px;
}
