#slider-container {
	position: relative;
}

.section-inner {
	position: relative;
}
.section-img {
	width: 100%;
	display: block;
}
.section-left-img {
	position: absolute;
	top: 100%;
	left: 0;
}
.section-right-img {
	position: absolute;
	bottom: 90%;
	right: 0;
}

.left-section, .center-section, .right-section {
	float: left;
}



.left-section {
	padding-top: 10%;
	padding-left: 5%;
	width: 20%;
}

	.left-section img {
		width: 100%;
	}

.center-section {
	width: 55%;
}

	.center-section img {
		width: 100%;
	}

.right-section {
	width: 15%;
}

	.right-section img {
		width: 100%;
	}

#railroad {
	position: absolute;
	top: 0;
	background: url('../img/road.png') no-repeat;
	background-size: 100%;
}

#p_curve {
	height: 400px;
	}
#p_curve .wagon{
	background-image : url('../img/vagn.png');
	background-repeat:no-repeat;
	background-color: transparent;
	background-position: center center;
	border: none;
	box-shadow: none;
	width: 98px;
	height: 102px;
}

