.footer {
	margin-top: 1em;
	overflow-y: auto;
}

.footer-links-item {
	display: block;
}
.footer-links {
	@include media (tabletandabove) {
		@include column(3);
		@include push(1);
	}
	@include media (mobile){
		margin-top: 2rem;
	}
}
.footer-text {
	@include media (tabletandabove) {
		@include column(7);
	}
}
.footer.logo {
	background: #212427;
	height: 80px;
	line-height: 80px;
	.inner {
		padding: 0;
		img {
			margin-left: 10px;
		}
	}
}
