.submitform-wrapper {
	position: relative;
	@include media(tabletandabove) {
		width: em(350);
		margin: 0 auto;
	}
}

.submitform {
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.submitform-inner {
	@include background(image-url('bg-form.png') repeat);
	padding: 2rem;
	position: relative;
	border-bottom: .5rem solid #606060;
}

.submitform-field {
	display: block;
	width: 100%;
	background: rgba(255,255,255,.8);
	@include border-radius(.5rem);
	@include box-sizing(border-box);
	@include font-normal;
	border: none;
	padding: .5rem;
}
.submitform-thanks {
  line-height: 40px;
  width: 100%;
  text-align: center;
  display: none;
  position: absolute;
  top: 0;
}
.submitform-submit {
	display: block;
	width: 100%;
	background: #c4325e;
	@include border-radius(.5rem);
	@include box-sizing(border-box);
	@include font-header;
	margin-top: 1rem;
	padding: .5rem;
	padding-top: .8rem;
	border: none;
	border-bottom: .3rem solid #a12250;
	color: #fff;
}

$bolt-size: .5rem;

.bolt {
	width: $bolt-size;
	height: $bolt-size;
	@include border-radius($bolt-size);
	background: #555657;
}
.bolt-topleft{
	@extend .bolt;
	position: absolute;
	top: .5rem;
	left: .5rem;
}
.bolt-topright{
	@extend .bolt;
	position: absolute;
	top: .5rem;
	right: .5rem;
}

.bolt-bottomleft{
	@extend .bolt;
	position: absolute;
	bottom: .5rem;
	left: .5rem;
}

.bolt-bottomright{
	@extend .bolt;
	position: absolute;
	bottom: .5rem;
	right: .5rem;
}
