.header {
	@include font-header;
	text-align: center;
	&.align-left {
		text-align: left;
	}
}
.header-large {
	@extend .header;
	font-size: em(35);
}
.header-medium {
	@extend .header;
	font-size: em(30);
}
.header-small {
	@extend .header;
	font-size: em(18);
}

.divider {
	display: block;
	height: 1px;
	width: 100%;
	background: #737373;
	border-top: 1px solid #595959;
	margin: 2em 0 0 0;
}

@include media(mobile) {
	.nomobile {
		display: none;
	}
}

.tilt-text {
	display: none;
	text-align: center;
	.hastilt & {
		display: block;
	}
}
