
.results-box {
	background: rgba(255,255,255,.2);
	@include border-radius(1em);
	padding: 1em;
}
.results-wrapper {
	
	@include clearfix();
	text-align: center;

	.results-left {
		float: left;
		margin-left: 10%;
		width: 40%;
	}

	.results-right {
		float: right;
		margin-right: 10%;
		width: 40%;
		&.safe {
			padding-top: 20px;
		}
	}

	margin-top: 2em;

	@include media(mobile) {
		.results-left, .results-right {
			width: 50%;
			margin: 0;
		}
	}

}

