.results-wrapper {
	
	@include clearfix();
	text-align: center;

	.results-left {
		float: left;
		margin-left: 10%;
		width: 40%;
	}

	.results-right {
		float: right;
		margin-right: 10%;
		width: 40%;
	}

	margin-top: 2em;

	@include media(mobile) {
		.results-left, .results-right {
			width: 50%;
			margin: 0;
		}
	}

}

.slider-container {
	@include clearfix-alt;
}
