
.slider-container {
	@include clearfix-alt;
	position: relative;
}
.slider-middle {
	margin: 0 4em;
}
.slider-left {
	width: 3em;
	position: absolute;
	top: .2em;
	left: .2em;
}
.slider-right {
	width: 3em;
	position: absolute;
	top: .2em;
	right: .2em;
}
