.top-logo {
	background: #fff;
	width: 170px;
	margin: 0 auto;
	text-align: center;
	padding: .7em .5em;
	@include single-box-shadow(#000, 0, 0, 20px, -5px);
	@include border-bottom-left-radius(5px);
	@include border-bottom-right-radius(5px);
	@include media(mobile) {
		width: 100px;
		padding: .5em;
		img {
			width: 100%;
		}
	}
}
