// --------------------------------------------------
// Media queries inside selectors
// Example: http://mikefowler.me/thoughts/passing-content-to-mixins-in-sass/
// --------------------------------------------------

//Variables
$mq-desktop-start: 992px;
$mq-tablet-start: 768px;
$mq-tablet-end: 991px;
$mq-mobile-end: 767px;

// The magic
@mixin media($type) {
  @if $type == desktop {
      @media only screen and (min-width: $mq-desktop-start) {
          @content;
      }
  }
  @else if $type == tablet {
      @media only screen and (min-width: $mq-tablet-start) and (max-width: $mq-tablet-end) {
          @content;
      }
  }
  @else if $type == tabletandabove {
      @media only screen and (min-width: $mq-tablet-start) {
          @content;
      }
  }
  @else if $type == mobile {
      @media only screen and (max-width: $mq-mobile-end) {
          @content;
      }
  }
}