// --------------------------------------------------
// Variables used throughout the site
// --------------------------------------------------

// Images path
$imagepath: '../img';

// Fonts
$font-sans: 'Droid Sans', sans-serif;
$font-script: 'Covered By Your Grace', cursive;

// Settings
$borderradius: .5em;
$borderradius-inner: .4em;
$borderradius-large: .7em;
$textshadow: .2em .2em .2em rgba(0,0,0,.2);

// Colors
$textcolor: #333;