#form-wrapper {
	position: relative;
	margin: 0 auto;
	form {
		width: 200px;
		overflow: hidden;
		position: absolute;
		top: 0;
	}
	#thanks {
	  line-height: 40px;
	  width: 200px;
	  text-align: center;
	  display: none;
	  position: absolute;
	  top: 0;
	}
}
