html,body {
	height: 100%;
}

body {
	@include background(image-url("bg-pattern.png"));
	color: $textcolor;
	position: relative;
}

// The outer box
.outer {
	position: absolute;
	top: 0;
	left: 0;
}
.inner {
	padding: 1em;
}
// The top image
.top-img {
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}